@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

html,
body {
	padding: 0;
	margin: 0;
	font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
	background-color: #ececf4;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
  	box-sizing: border-box;
}

/* X-SM */
@media only screen and (max-width: 576px) {
	#app_bar {
		display: none;
	}

	#app_scroll_view {
		max-height: 88vh;
	}
}

/* SM */
@media only screen and (min-width: 576px) {
	#container {
		max-width: 90%;
	}
}

/* MD */
@media only screen and (min-width: 768px) {
	#container {
		max-width: 90%;
	}
}

/* LG */
@media only screen and (min-width: 992px) {
	#container {
		max-width: 60%;
	}
}

.flex-container {
	display: flex;
}

/* .truncated {
	overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.line-clamp-3 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
  }

.text-right {
	text-align: right;
}

.text-bold {
	font-weight: 600;
}

.button {
	cursor: pointer;
	background-color: transparent;
	border: unset;
}

.no-caret.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
    color: #464545 !important;
    padding: 0px !important;
	border: unset !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.dropdown-item:hover {
    background-color: #f5f5f6 !important;
	color: #5f6368 !important;
}

.dropdown-item {
    padding: .40rem 1rem !important;
	color: #5f6368 !important;
}