.app_todo_card {
    display: flex;
    justify-content: space-between;
    color: #5f6368;
    align-content: center;
    padding: 20px;
    /* box-shadow: 0 4px 6px 0 rgba(0,0,0,0.25); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
    background-color: #FFFF;
    margin: 10px 15px 10px 15px;
}

.right_container {
    /* min-width: 20%; */
}

.title_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.title {
    color: #464545;
    font-size: 16px;
    font-weight: 600;
}

.added_ago {
    font-size: 11px;
}

.options {
    margin-top: 10px;
}

.options:focus, .options:focus-visible {
    outline: none;
}

.description {
    margin-top: 5px;
}

.due_date {
    font-size: 11px;
    margin-top: 10px;
}

.due_date_value {
    font-weight: normal;
}