.app_todo_card {
    display: flex;
    justify-content: space-between;
    color: #5f6368;
    align-content: center;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
    background-color: #FFFF;
    margin: 10px 15px 10px 15px;
}

.right_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    white-space: nowrap;
}

.title_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.title {
    color: #464545;
    font-size: 16px;
    font-weight: 600;
}

.added_ago {
    font-size: 11px;
}

.options {
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
}

.options:focus, .options span:focus {
    outline: none;
}

/* .options:focus:not(:focus-visible), .options span:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
} */

.options span {
    background-color: transparent;
}

.description {
    margin-top: 5px;
}

.due_date {
    font-size: 11px;
    margin-top: 10px;
}

.due_date_value {
    font-weight: normal;
}